<div class="containerForm">
  <form #formRegister="ngForm" (ngSubmit)="onRegister(formRegister)">
    <h1>User Profile</h1>
    <div class="alert alert-danger" role="alert" *ngIf="isError">
      {{msgError}}
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Name</label>
        <input type="text" class="form-control" #name="ngModel" name="Name" [(ngModel)]="userApp.Name" placeholder="Name"
          minlength="4" maxlength="20">
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="name.touched && !name.valid">
        <div *ngIf="name.errors.required">Name is required</div>
        <div *ngIf="name.errors.minlength">Name must be at least 4 characters</div>
        <div *ngIf="name.errors.maxlength">Name must be maxime 4 characters</div>
      </div>
      <div class="form-group col-md-6">
        <label>LastName</label>
        <input type="text" class="form-control" #LastName="ngModel" name="LastName" [(ngModel)]="userApp.LastName"
          placeholder="LastName">
      </div>

    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Email</label>
        <input type="email" class="form-control" #email="ngModel" name="email" [(ngModel)]="userApp.email" placeholder="Email"
          required>
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="email.touched && !email.valid">
        <div *ngIf="email.errors.required">Email is required</div>
      </div>
      <div class="form-group col-md-6">
        <label>Password</label>
        <input type="password" class="form-control" #password="ngModel" name="password" [(ngModel)]="userApp.password"
          placeholder="Password" required>
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="password.touched && !password.valid">
        <div *ngIf="password.errors.required">password is required</div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Username</label>
        <input type="text" class="form-control" #Username="ngModel" name="Username" [(ngModel)]="userApp.username"
          placeholder="Username">
      </div>
      <div class="form-group col-md-3">
        <label>
          Is Militar
        </label>
        <input style="margin-left: 5px;" class="form-check-input" type="checkbox" name="isMilitar" [(ngModel)]="userApp.isMilitar"
          #isMilitar="ngModel">

      </div>
      <div class="form-check col-md-3">
        <label>
          Is Temporal
        </label>
        <input style="margin-left: 5px;" class="form-check-input" type="checkbox" name="isTemporal" [(ngModel)]="userApp.isTemporal"
          #isTemporal="ngModel">

      </div>
    </div>
    <h1>User Document</h1>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Type of Document</label>
        <input type="text" class="form-control" #namedoc="ngModel" name="namedoc" [(ngModel)]="userDoc.namedoc"
          placeholder="NameType" maxlength="50" required>
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="namedoc.touched && !password.valid">
        <div *ngIf="namedoc.errors.required">namedoc is required</div>
        <div *ngIf="namedoc.errors.maxlength">max lengthd 50</div>
      </div>
      <div class="form-group col-md-6">
        <label>Document</label>
        <input type="text" class="form-control" #Document="ngModel" name="document" [(ngModel)]="userDoc.document"
          placeholder="Document" maxlength="20">
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="Document.touched && !Document.valid">
        <div *ngIf="Document.errors.required">Document is required</div>
        <div *ngIf="Document.errors.maxlength">max lengthd 50</div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Place expedition</label>
        <input type="text" class="form-control" #PlaceExpedition="ngModel" name="PlaceExpedition" [(ngModel)]="userDoc.place"
          placeholder="Place Expedition" maxlength="60">
      </div>
      <div class="form-group col-md-6">
        <label>Date expedition</label>
        <input type="date" class="form-control" #DateExpedition="ngModel" name="PlaceExpedition" [(ngModel)]="userDoc.date"
          placeholder="Date Expedition">
      </div>
    </div>
    <h1>Contact Info</h1>
    <div class="form-group">
      <label>Address</label>
      <input type="text" class="form-control" #inputAddress="ngModel" name="Address" [(ngModel)]="userInfo.Address"
        placeholder="Address" maxlength="60">
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label>Country</label>
        <input type="text" class="form-control" #Country="ngModel" name="Country"
         [(ngModel)]="userInfo.Country" maxlength="100">
      </div>
      <div class="form-group col-md-6">
        <label>City</label>
        <input type="text" class="form-control" #City="ngModel" name="City" 
        [(ngModel)]="userInfo.City" maxlength="50">
      </div>
      <div class="form-group col-md-2">
        <label>Country Code</label>
        <input type="text" class="form-control" #CountryCode="ngModel" name="CountryCode"
         [(ngModel)]="userInfo.CountryCode" maxlength="4">
      </div>
    </div>
       <div class="form-row">
        <div class="form-group col-md-6">
            <label>Phone</label>
            <input type="tel" class="form-control" #Phone="ngModel" name="Phone"
             [(ngModel)]="userInfo.Phone">
          </div>
      <div class="form-group col-md-6">
        <label>CellPhone</label>
        <input type="tel" class="form-control" #CellPhone="ngModel" name="CellPhone"
        [(ngModel)]="userInfo.CellPhone">
      </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Emergency Name</label>
            <input type="text" class="form-control" #EmergencyName="ngModel" name="EmergencyName"
            [(ngModel)]="userInfo.EmergencyName" maxlength="100">
          </div>
      <div class="form-group col-md-6">
        <label>Emergency Phone</label>
        <input type="tel" class="form-control" #EmergencyPhone="ngModel" name="EmergencyPhone" 
        [(ngModel)]="userInfo.EmergencyPhone" maxlength="20">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
</div>