<div class="containerForm">
  <form #formRegister="ngForm" (ngSubmit)="onRegister(formRegister)">
    <div class="form-row">
      <div class="form-group col-md-6 card">
        <h1>User Profile</h1>
        <div class="alert alert-danger" role="alert" *ngIf="isError">
          {{msgError}}
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Name</label>
            <input type="text" class="form-control" #name="ngModel" name="Name" [(ngModel)]="userApp.user.Name" placeholder="Name"
              required minlength="4" maxlength="20">
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="name.touched && !name.valid">
            <div *ngIf="name.errors.required">Name is required</div>
            <div *ngIf="name.errors.minlength">Name must be at least 4 characters</div>
            <div *ngIf="name.errors.maxlength">Name must be maxime 20 characters</div>
          </div>
          <div class="form-group col-md-6">
            <label>LastName</label>
            <input type="text" class="form-control" #LastName="ngModel" name="LastName" [(ngModel)]="userApp.user.LastName"
              placeholder="LastName">
          </div>

        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Email</label>
            <input type="email" class="form-control" #email="ngModel" name="email" [(ngModel)]="userApp.user.email"
              placeholder="Email" required>
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="email.touched && !email.valid">
            <div *ngIf="email.errors.required">Email is required</div>
          </div>
          <div class="form-group col-md-6">
            <label>Password</label>
            <input type="password" class="form-control" #password="ngModel" name="password" [(ngModel)]="userApp.user.password"
              placeholder="Password" required>
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="password.touched && !password.valid">
            <div *ngIf="password.errors.required">password is required</div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Username</label>
            <input type="text" class="form-control" #Username="ngModel" name="Username" 
            [(ngModel)]="userApp.user.username" placeholder="Username" required>
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="Username.touched && !Username.valid">
            <div *ngIf="Username.errors.required">Username is required</div>

          </div>
          
          <div class="form-group col-md-3">
            <label>
              Is Militar
            </label>
            <input style="margin-left: 5px;" class="form-check-input" type="checkbox" name="isMilitar" [(ngModel)]="userApp.user.isMilitar"
              #isMilitar="ngModel">

          </div>
          <div class="form-check col-md-3">
            <label>
              Is Temporal
            </label>
            <input style="margin-left: 5px;" class="form-check-input" type="checkbox" name="isTemporal" [(ngModel)]="userApp.user.isTemporal"
              #isTemporal="ngModel">

          </div>
        </div>
      </div>

      <div class="form-group col-md-6 card">
        <h1>User Document</h1>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Type of Document</label>
            <input type="text" class="form-control" #typeDoc="ngModel" name="typeDoc" 
            [(ngModel)]="userApp.userDoc.typeDoc" placeholder="NameType" maxlength="50" required>
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="typeDoc.touched && !password.valid">
            <div *ngIf="typeDoc.errors.required">typeDoc is required</div>
            <div *ngIf="typeDoc.errors.maxlength">max lengthd 50</div>
          </div>
          <div class="form-group col-md-6">
            <label>Document</label>
            <input type="text" class="form-control" #Document="ngModel" name="document" [(ngModel)]="userApp.userDoc.document"
              placeholder="Document" maxlength="20">
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="Document.touched && !Document.valid">
            <div *ngIf="Document.errors.required">Document is required</div>
            <div *ngIf="Document.errors.maxlength">max lengthd 50</div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Place expedition</label>
            <input type="text" class="form-control" #PlaceExpedition="ngModel" name="PlaceExpedition" [(ngModel)]="userApp.userDoc.place"
              placeholder="Place Expedition" maxlength="60">
          </div>
          <div class="form-group col-md-6">
            <label>Date expedition</label>
            <input type="date" class="form-control" #DateExpedition="ngModel" name="PlaceExpedition" [(ngModel)]="userApp.userDoc.date"
              placeholder="Date Expedition">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group card container">
      <h1>Contact Info</h1>
      
      <div class="form-group">
        <label>Address</label>
        <input type="text" class="form-control" #inputAddress="ngModel" name="Address" [(ngModel)]="userApp.userInfo.Address"
          placeholder="Address" maxlength="60">
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label>Country</label>
          <input type="text" class="form-control" #Country="ngModel" name="Country" [(ngModel)]="userApp.userInfo.Country"
            maxlength="100">
        </div>
        <div class="form-group col-md-6">
          <label>City</label>
          <input type="text" class="form-control" #City="ngModel" name="City" [(ngModel)]="userApp.userInfo.City"
            maxlength="50">
        </div>
        <div class="form-group col-md-2">
          <label>Country Code</label>
          <input type="text" class="form-control" #CountryCode="ngModel" name="CountryCode" [(ngModel)]="userApp.userInfo.CountryCode"
            maxlength="4">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Phone</label>
          <input type="tel" class="form-control" #Phone="ngModel" name="Phone" [(ngModel)]="userApp.userInfo.Phone">
        </div>
        <div class="form-group col-md-6">
          <label>CellPhone</label>
          <input type="tel" class="form-control" #CellPhone="ngModel" name="CellPhone" [(ngModel)]="userApp.userInfo.CellPhone">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Emergency Name</label>
          <input type="text" class="form-control" #EmergencyName="ngModel" name="EmergencyName" [(ngModel)]="userApp.userInfo.EmergencyName"
            maxlength="100">
        </div>
        <div class="form-group col-md-6">

          <label>Emergency Phone</label>
          <input type="tel" class="form-control" #EmergencyPhone="ngModel" name="EmergencyPhone" [(ngModel)]="userApp.userInfo.EmergencyPhone"
            maxlength="20">
        </div>
      </div>

    </div>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
</div>